:root {
  --primary-color: #0275d8;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after,
li,
ul,
p {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit !important;
}
ul,
li {
  list-style-type: none;
}
body {
  /* background-color: #f0f7ff; */
  font-family: "Manrope", sans-serif;
  font-size: 0.9rem;
}

.medic-aid-blue {
  color: var(--primary-color);
}
.btn {
  font-size: 0.8rem;
}
/* Main header section */
.main-header {
  position: relative;
  background: linear-gradient(rgba(8, 26, 43, 0.8), rgba(8, 26, 43, 0.8)),
    url(../img/hero-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #081a2b;
  background-size: cover;
  padding-top: 1.5rem;
}
.main-header .container {
  padding: 0 2rem;
}

/* Navbar section */
.main-header nav {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.main-header nav .nav__brand {
  font-size: 1rem;
}
.main-header nav .nav__brand > span {
  margin-left: 0.3rem;
}
.main-header nav > div {
  display: none;
}
.main-header nav > div.nav-active {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(8, 26, 43, 0.95);
  left: 0;
  right: 0;
  top: 4rem;
  padding: 1rem 0 2rem;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.main-header nav > div.nav-active > a {
  margin: 0.5rem 0;
}
.main-header nav > div.nav-active .nav-links {
  width: 100%;
  text-align: center;
  padding: 0;
}
.main-header nav > div.nav-active .nav-links__link {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
}

.main-header .nav-links .nav-links__link {
  display: inline-block;
  position: relative;
  padding: 0.3rem 0rem;
  margin-right: 1rem;
}
.main-header nav a:nth-child(3) {
  margin: 0 2rem;
}

/* Hero section */
.hero {
  color: #fff;
  margin: 0 auto;
  padding: 8rem 0 10rem;
  text-align: center;
}
h1.hero__title {
  margin: 0 auto;
  font-size: 1.8rem;
}
p.hero__subtitle {
  font-size: 0.85rem;
}

/* core value section*/

.section_values img {
  width: 80%;
  margin: auto;
}

/* .core-value {
    background: url("../img/her02.png");
    background-repeat: no-repeat;
    height: 80vh;
    width: 50%;
} */

.core {
  text-align: left;
}

.core .values p {
  line-height: 24px;
  font-size: 14px;
}

.values h4 {
  font-size: 30px;
}

/* .core .mt-n1 {
    margin-top: -0.5rem !important;
} */

/*vision section*/

#section_vision {
  background-color: #f0f7ff;
  height: auto;
  margin: 100px auto;
  text-align: left;
}

.core-vision {
  font-size: 40px;
  margin: 2em 0 0 auto;
}

.vision .vision_p,
.vision .core-vision {
  width: 50%;
}

.vision_p {
  font-size: 22px;
  margin: 1em 0 0 auto;
}

/*mission section*/

#section_mission {
  height: auto;
  margin: 60px auto;
  text-align: left;
}

.mission .mission_header,
.mission .mission_p {
  width: 50%;
}

.mission_header {
  font-size: 40px;
  margin: 2em 2em 0 0;
}

.mission_p {
  line-height: 34px;
  font-size: 22px;
}

/* Patients and Medical assistance section*/

#about_patients_assistance {
  background-color: #f0f7ff;
  height: auto;
  margin: 50px auto;
}

#about_patients_assistance .patients {
  margin: 100px auto 0;
}

#about_patients_assistance .assistance {
  background-image: radial-gradient(#081a2b, rgba(8, 26, 43, 75%)),
    url("../img/doc-assist.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #deedf0;
  background-blend-mode: multiply;
  border-radius: 25px;
  color: #fff;
  height: 70vh;
  width: 80vw;
  margin: 100px auto;
}

.assistance h2 {
  margin-top: 8rem;
  font-size: 50px;
}

.assistance p {
  margin: 25px auto;
  width: 50%;
}

.patients_assistance .ass-btn {
  border: none;
  color: #0275d8;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  font-weight: 600;
}

/* FAQ section*/

.faq_head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#fa_questions {
  text-align: left;
}

.QA {
  margin-left: 120px;
}

/* CTA section*/

#CTA_sponsors {
  background-color: #0275d8;
  height: 65vh;
  color: #fff;
}

#CTA_sponsors .container-fluid {
  padding: 3rem 5rem;
}

.CTA .ass-btn {
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  color: #0275d8;
  font-weight: 600;
}

/* .call_to_sponsors h3 {
    margin-top: 120px;
} */

.call_to_sponsors p {
  width: 50%;
  margin: 25px auto;
}

/* GI section*/

#gi_touch {
  text-align: left;
}

#gi_touch .container-fluid {
  padding: 10%;
}

.git_details h3,
.git_details p {
  width: 70%;
  margin-bottom: 20px;
}

.git_details .fas {
  color: #0275d8;
  font-size: 30px;
  border-radius: 5px;
  margin-bottom: 6px;
}

.git-header {
  font-size: 40px;
}

.git_details .env-text {
  color: #000;
  font-size: 15px;
  margin-left: 10px;
  font-weight: 200;
}

.form-row input {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 12px;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group textarea {
  width: 80%;
  border-radius: 10px;
  padding: 12px;
}

.form_box .btn {
  margin-top: 15px;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
}

/* partners section*/

/* 
.partners-pics {
    width: 3%;
    height: 3%;
} */

/* NEWSLETTER section*/

#newsletter {
  background-color: #f5faff;
  height: auto;
  margin: auto;
  margin-top: 40px;
  text-align: left;
}

#newsletter .container {
  padding: 4rem;
}

.sub .sub_text {
  padding: 10%;
}

.form_box p {
  margin-bottom: 7px;
}

.form_box input {
  margin-bottom: 15px;
}

.form_box .btn {
  margin-top: 5px;
  background-color: #0275d8;
  color: #ffff;
}

/* partners section*/

#ass_patient {
  background-color: #f5faff;
  color: #005ab2;
}

.ass_spons a {
  color: #005ab2;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding-right: 30px;
}

/* footer section*/

footer {
  background-color: #081a2b;
  color: hsl(0, 0%, 100%);
}

footer a,
ul {
  text-decoration: none;
  list-style-type: none;
  color: hsl(0, 0%, 100%);
  text-align: left;
  padding-left: 2em;
}

footer h2 {
  margin-left: 80px;
}

footer h3 {
  font-size: 23px;
  /* color: #FF143D; */
}

.footer-small {
  background-color: #050f1a;
  height: 10vh;
}

.footer-small p {
  font-size: 20px;
  padding-top: 12px;
  text-align: center;
}

.footer-small span {
  color: #ff143d;
}

@media (max-width: 575.98px) {
  .title h1 {
    font-size: 25px;
  }
  .title .title-text {
    width: 28vw;
    margin: 50px auto 15px;
  }
  /* footer section*/
  footer a,
  ul {
    text-align: left;
    margin-left: 20px;
  }
  footer h2 {
    margin-left: 100px;
  }
  footer h3 {
    text-align: left;
    margin-left: 100px;
  }
  .call_to_sponsors p {
    width: 100%;
    text-align: center;
    font-size: 13px;
  }
  .QA {
    margin-left: 30px;
    font-size: 14px;
  }
  .QA h4 {
    font-size: 18px;
    font-weight: 600;
  }
  .assistance h2 {
    margin-top: 3rem;
    font-size: 28px;
  }
  .assistance p {
    margin: 15px auto;
    width: 100%;
    font-size: 14px;
  }
  /* hero section*/
  .title h1 {
    width: 90vw;
    font-size: 30px;
  }
  .title .title-text {
    margin: 25px auto 15px;
    width: 90vw;
  }
  .title p {
    width: 90vw;
    margin: 10px auto 20px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 992px) {
  footer a,
  ul {
    text-align: left;
    margin-left: -15px;
  }
  .assistance h2 {
    margin-top: 5rem;
    font-size: 28px;
  }
  .assistance p {
    margin: 15px auto;
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 991.98px) {
  .assistance h2 {
    margin-top: 5rem;
    font-size: 28px;
  }
  .assistance p {
    margin: 15px auto;
    width: 100%;
    font-size: 16px;
  }
  .title h1 {
    width: 90vw;
    font-size: 30px;
  }
  .title .title-text {
    margin: 25px auto 15px;
    width: 90vw;
  }
  .title p {
    width: 90vw;
    margin: 10px auto 20px;
    font-size: 16px;
    line-height: 24px;
  }
}
